<html>
  <head>
    <title>Video</title>
  </head>
  <body>
    <a href="http://127.0.0.1:8090/stat.html">Server Status</a>
    <p/>
    <video id="demo_video" autoplay controls>
      <source src="http://127.0.0.1:8090/pattern.webm">
    </video>
    <p>
      <button id="copy_button">Screenshot</button>
    <p>
      <canvas id="demo_canvas"></canvas>
    <script>
    
document.addEventListener("DOMContentLoaded", function() {
    var copy_button = document.getElementById("copy_button");
    copy_button.addEventListener("click", function() {
	var video = document.getElementById("demo_video");
	var canvas = document.getElementById("demo_canvas");
	var ctx = canvas.getContext("2d");
	canvas.width = video.videoWidth;
	canvas.height = video.videoHeight
	ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    });
});
     </script>
	     
  </body>
</html>
