<html>
  <head>
  <style>
  #vid {
  display: inline-block;
  width: 100% !important;
  height: auto;
  }
  #image {
   position: absolute;
   top: 0;
   left: 0;
   display: none;
  }
  </style>

    <title>Video</title>
    <head> <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> </head>

  </head>
  <body>
    <a href="http://127.0.0.1:8090/stat.html">Server Status</a>
    <p/>
    <video id="vid" autoplay muted>
      <source src="http://127.0.0.1:8090/pattern.webm">
    </video>
    <img id="image" src='data:image/svg+xml;utf8,<svg baseProfile="full" height="720px" version="1.1" width="1280px" xmlns="http://www.w3.org/2000/svg" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink"><defs /><rect fill="rgb(0,0,0)" fill-opacity="0" height="720px" stroke="green" stroke-width="10" width="1280px" x="0" y="0" /></svg>' />
    <p>
      <button id="copy_button">Screenshot</button>
    <p>
      <canvas id="demo_canvas"></canvas>
    <script>
    
document.addEventListener("DOMContentLoaded", function() {
    var copy_button = document.getElementById("copy_button");
    copy_button.addEventListener("click", function() {
	var video = document.getElementById("vid");
	var canvas = document.getElementById("demo_canvas");
	var ctx = canvas.getContext("2d");
	canvas.width = video.videoWidth;
	canvas.height = video.videoHeight
	ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    });
});

function overlayImage(){
      var height = $("#vid").height();
      var width = $("#vid").width();
      var top = $("#vid").offset().top;
      var left = $("#vid").offset().left;
      $('#image').css(
          "height", height);
      $('#image').css("top", top);
      $('#image').css("left", left);
      $('#image').css(
          "width", width);
      $('#image').show();  
      $.get("/svg", function(data, status){
      //alert("Data: " + data + "\nStatus: " + status);
      $("#image").attr("src", data);
      setTimeout(overlayImage, 500);
      //overlayImage();
      });
 
  }
  
  overlayImage();
     </script>
	     
  </body>
</html>