<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome User!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/Pelicam_icon.png') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--====================================================s===========================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--====================================================s===========================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/filesaver/FileSaver.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/webcam_util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/webcam_main.css') }}">
<!--===============================================================================================-->
	<style>
		#vid {
	display: inline-block;
	width: 100% !important;
	height: auto;
	}
	#image {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	}
	</style>
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename='js/functions_cam.js') }}" ></script>
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-cam100">

				<div id="cam" class="leftpane">
					<h1>Video Stream</h1>
					<video id="vid" autoplay muted>
						<source src="http://ec2-13-57-20-231.us-west-1.compute.amazonaws.com:8090/pattern.webm">
					</video>
					<img id="image" src='data:image/svg+xml;utf8,<svg baseProfile="full" height="720px" version="1.1" width="1280px" xmlns="http://www.w3.org/2000/svg" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink"><defs /><rect fill="rgb(0,0,0)" fill-opacity="0" height="720px" stroke="green" stroke-width="10" width="1280px" x="0" y="0" /></svg>' />
				</div>
				
				<div class="rightpane" id="listImages">

					<button type="button" id="btnAttachment"
						 class="loadImage-form-btn" onclick="openRequestedPopup()">
							Load an Image
					</button>

					<!-- To be shown by default -->
					<div class="image-upload-wrap">
						<input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" 
							style="display: none" />
						<div class="drag-text">
  							<h3>Upload an Image</h3>
						</div>
					</div>

					<!-- This is the popup that will open up when you click the load button -->
					<div id="abc">
						<div id="popupContact">
							
							<!-- PopUp Form to Upload an Image -->
							<form id="form" method="POST" name="form" action=""
								enctype="multipart/form-data">

								<img id="close" src="{{ url_for('static', filename='images/close.png') }}" onclick ="closePopUpForm()">
								<h2>Upload Picture</h2>

								<!-- Div that will be shown at first -->
								<div class="image-upload-wrapPopUp" align="center">
									<div class="drag-text" align="center">
										<label onclick="document.getElementById('img_file').click()">
											<h3>Click to Browse for Image</h3>
										</label>
										<input class="file-upload-input" type='file' id="img_file" name="img_file" 
											onchange="readURL(this);" accept="image/*" multiple
											style="opacity: 0; position: absolute;" />
									</div>
								</div>

								<!-- Div that will be shown after your select an image -->
								<div class="image-showIn-wrapPopUp" align="center">
									<img name="imageUploaded" class="file-uploaded-image" src="#" alt="your image" />
								</div>

								<input id="name" name="name" placeholder="Name of Person" type="text">
								<input name="imageUp" type="file" style="display: none">
								<button id="submit" class="loadImage-form-btn">Upload</button>
							</form>
							<!-- PopUp Form ends -->

						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
<script>
// document.addEventListener("DOMContentLoaded", function() {
// 	var copy_button = document.getElementById("copy_button");
// 	copy_button.addEventListener("click", function() {
// 	var video = document.getElementById("vid");
// 	var canvas = document.getElementById("demo_canvas");
// 	var ctx = canvas.getContext("2d");
// 	canvas.width = video.videoWidth;
// 	canvas.height = video.videoHeight
// 	ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
// 	});
// });

function overlayImage(){
		var height = $("#vid").height();
		var width = $("#vid").width();
		var top = $("#vid").offset().top;
		var left = $("#vid").offset().left;
		$('#image').css(
			"height", height);
		$('#image').css("top", top);
		$('#image').css("left", left);
		$('#image').css(
			"width", width);
		$('#image').show();  
		$.get("/svg", function(data, status){
		//alert("Data: " + data + "\nStatus: " + status);
		$("#image").attr("src", data);
		setTimeout(overlayImage, 500);
		//overlayImage();
		});
     
	}
	
overlayImage();
</script>




<!--===============================================================================================-->	
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename='js/functions_cam.js') }}" ></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
